<div class="container">
    <form [formGroup]="userform" class="form-signin" (submit)='senddata()'>
        <div class="row mt-5">
            <div class="col-lg-12 mt-2">
                <div class="form-group">
                    <label for="">Enter Your Email</label>
                    <input type="text" formControlName="email" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">Enter Your Password</label>
                    <input type="text" formControlName="password" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center" >
                <input type="submit" class="btn btn-primary" value="Sign In">
            </div>
        </div>
    </form>
</div>
